.booth path {
  fill-opacity: 0.6;
}

.booth:hover,
.booth.active {
  opacity: 1 !important;
}

.booth.active path {
  fill-opacity: 0.7 !important;
}

.booth:hover path {
  fill-opacity: 0.8 !important;
}
